*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

html {
  font-size: 62.5%;
}

button {
  appearance: none;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 100px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 508px 20px 508px;
  grid-template-columns: repeat(2, 508px);
  gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  overflow: auto;
}

.card {
  width: 508px;
  height: 705px;
  min-width: 390px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #f6f6f6;
  cursor: pointer;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 20px 0px #00000026;
  box-shadow: 0px 0px 20px 0px #00000026;
  background: #ffffff;
}

.card__top {
  position: relative;
}

.card__top,
.card__bottom {
  width: 100%;
  height: 50%;
}

.card__btn-fullscreen {
  position: absolute;
  top: 10px;
  right: 9px;
  width: 34px;
  height: 34px;
  background: url(./assets/fullscreen.png) no-repeat center;
  background-size: cover;
  z-index: 10;
}

.card__btn-fullscreen:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.card__bottom {
  padding: 23px 20px;
}

.card__suptitle {
  color: #656565;
  font-weight: 500;
  font-size: 1.4rem;
}

.card__title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 120%;
  color: #32312f;
  margin: 3px 0 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.card__materials__title {
  font-weight: 500;
  font-size: 1.4rem;
  color: #656565;
}

.card__materials__block {
  width: 315px;
  margin: 13px 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card__materials__variant {
  font-weight: 500;
  font-size: 1.4rem;
  position: relative;
  color: #32312f;
  padding: 6px 12px;
  border-radius: 18px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #f6f6f6;
}

.card__materials__variant.active {
  color: #fff;
  background: #32312f;
  padding: 6px 12px 6px 37px;
}

.card__materials__variant::after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background:
    url(./assets/selected.png) no-repeat center,
    #f6f6f6;
  background-size: 14px 14px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card__materials__variant.active::after {
  opacity: 1;
}

.card__price__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

.card__materials__price-text {
  font-weight: 500;
  font-size: 1.4rem;
  color: #656565;
}

.card__materials__price-num {
  font-weight: 600;
  font-size: 2.2rem;
  color: #32312f;
  margin: 5px 0px;
}

.card__materials__price-subtext {
  font-weight: 500;
  font-size: 1.4rem;
  color: #656565;
}

.card__materials__price-subtext--bold {
  font-weight: 700;
  font-size: 1.4rem;
  color: #32312f;
}

.card__price__block-btn {
  font-family: "Roboto", sans-serif;
  border: none;
  padding: 17px 80px;
  border-radius: 14px;
  background: #ff5c00;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  opacity: 0;
  border: 2px solid transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.card__price__block-btn:hover {
  background: #fff;
  color: #ff5c00;
  border: 2px solid #ff5c00;
}

.card:hover .card__price__block-btn {
  opacity: 1;
}

.card__materials__line {
  width: 100%;
  height: 1px;
  background: #e6e6e6;
  margin: 18px auto;
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 16px;
}

.card__footer__likes {
  position: relative;
  font-weight: 700;
  font-size: 1.4rem;
  color: #32312f;
  background: #f6f6f6;
  padding: 7px 12px 7px 40px;
  border-radius: 18px;
}

.card__footer__likes::after {
  content: "";
  width: 22px;
  height: 22px;
  background-color: #a1a5ad;
  -webkit-mask-image: url(./assets/like.png);
  mask-image: url(./assets/like.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: background-color 0.3s;
}

.card__footer__likes.liked::after {
  background-color: rgb(255, 34, 34);
}

.card__footer__likes:hover::after {
  -webkit-transform: translateY(-50%) scale(1.1);
  -ms-transform: translateY(-50%) scale(1.1);
  transform: translateY(-50%) scale(1.1);
}

.card__footer__link {
  position: relative;
  font-weight: 500;
  font-size: 1.4rem;
  color: #656565;
  text-decoration: none;
}

.card__footer__link::after {
  content: "";
  width: 12px;
  height: 12px;
  background: url(./assets/arrow.png) no-repeat center;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: calc(100% + 5px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card__footer__link:hover::after {
  -webkit-transform: translateY(-50%) translateX(2px);
  -ms-transform: translateY(-50%) translateX(2px);
  transform: translateY(-50%) translateX(2px);
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper::after {
  content: "Описание товара";
  position: absolute;
  left: 0;
  bottom: 14px;
  width: 100%;
  height: 61px;
  background: #00000080;
  padding: 20px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
}

.card:hover .swiper::after {
  opacity: 1;
}

.swiper-slide {
  width: 100%;
  height: 339px;
  background: url(./assets/slider.png) no-repeat center;
  background-size: cover;
  position: relative;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  display: none !important;
}

.card__slider__arrow-left,
.card__slider__arrow-right {
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 43px;
  height: 43px;
  background: url(./assets/left-arrow.png) no-repeat center;
  background-size: cover;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
}

.card__slider__arrow-right {
  left: auto;
  right: 15px;
  background: url(./assets/right-arrow.png) no-repeat center;
  background-size: cover;
}

.card__slider__arrow-left:hover,
.card__slider__arrow-right:hover {
  -webkit-transform: translateY(-50%) scale(1.1);
  -ms-transform: translateY(-50%) scale(1.1);
  transform: translateY(-50%) scale(1.1);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 2px;
  display: grid;
  grid-template-columns: repeat(6, 74px);
  grid-template-rows: 2px;
  column-gap: 5px;
  left: 16px;
}

.swiper-pagination-bullet {
  background: #e6e6e6;
  width: 74px;
  height: 2px;
  border-radius: 0%;
  margin: 0;
}

.swiper-pagination-bullet-active {
  background: #ff5c00;
}

.modal__window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
  display: none;
}

.modal__window.opened {
  opacity: 1;
  display: flex;
}

.modal__window__content {
  width: 80%;
  height: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1060px) {
  body {
    grid-template-columns: repeat(2, 1fr);
    padding: 100px 20px;
  }
  .card {
    width: auto;
    min-width: auto;
  }
  .swiper-pagination-bullet {
    width: 50px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    grid-template-columns: repeat(6, 50px);
    column-gap: 2px;
  }
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
  }
  .card {
    height: auto;
  }
  .card__top {
    height: 47%;
  }
  .card__bottom {
    height: 53%;
  }
  .card__slider__arrow-left,
  .card__slider__arrow-right {
    display: none;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    grid-template-columns: repeat(6, 80px);
    column-gap: 2px;
  }
  .swiper-pagination-bullet {
    width: 120px;
  }
  .swiper::after {
    display: none;
  }
  .card__materials__block {
    width: 100%;
  }
  .card__materials__variant {
    font-size: 1.1rem;
  }
  .card__materials__price-num {
    font-size: 1.6rem;
  }
  .card__materials__price-subtext {
    font-size: 1.2rem;
  }
  .card__price__block-btn {
    opacity: 1;
  }
  .card__price__block {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .card__price__block-btn {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 425px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2px;
  }
  .swiper-pagination-bullet {
    width: 40px;
  }
}

@media (max-width: 375px) {
  .card__suptitle {
    font-size: 1.3rem;
  }
  .card__title {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 0px;
  }
  .swiper-pagination-bullet {
    width: 30px;
  }
}
